.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 48px;
	background-color: #ffbf00;
}

.navbar.logged {
	justify-content: space-between;
}

.navbar a {
	font-size: 42px;
	text-decoration: none;
	color: #000;
}

.user-controls {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.user-controls button {
	padding: 6px 12px;
	border: none;
	background-color: #ffbf00;
	border: 2px solid #ce9a00;
	border-radius: 12px;
	cursor: pointer;
}

.user-controls p {
	font-size: 17px;
	font-weight: bold;
}


.user-controls button:hover{
	background-color: #ce9a00;
	transition: 0.3s;
}

.nav-extras{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.nav-extras h3{
	font-size: 24px;
	font-weight: bold;
}

.contacto-link {
	display: none; 
  }
  
  .navbar.logged .contacto-link {
	display: block;
  }
  