.header-form, .header-form p {
    color: black;
    text-align: center;
}

.main-form { 
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
   padding: 40px;
}

label {
    margin-bottom: 5px;
}

textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.main-form button {
    padding: 10px;
    background-color: #ffbf00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main-form button:hover {
    background-color: #dfa803;
}
.main-form form .input-container{
    margin: 30px auto;
}